mixin control-btns
  +b.control-btns
    +b.BUTTON.btn_forward.btn_none
      +e.icon= '^'
    +b.BUTTON.btn_left
      +e.icon= '<'
    +b.BUTTON.btn_right
      +e.icon= '>'
    +b.BUTTON.btn_backward
      +e.icon= 'v'