.units-space {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .unit {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 40px;
        min-height: 40px;
        z-index: 2;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.05s ease-in-out;
        animation: visibly 0.25s ease-in-out;
        &__btn {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
        &:hover {
            transform: scale(1.1);
        }
        img {
            visibility: hidden;
        }
    }
}

@keyframes visibly {
    from {
        opacity: 0;
    }
}