.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    &__prev,
    &__next {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
    }
    &__prev {
        z-index: -3;
        &_right {
            animation: shift-prev 1.5s ease-in-out;
        }
        &_left {
            animation: shift-prev-2 1.5s ease-in-out;
        }
        &_stop {
            animation: none;
        }
    }
    &__next {
        &_right {
            animation: shift-next 1.5s ease-in-out;
        }
        &_left {
            animation: shift-next-2 1.5s ease-in-out;
        }
        &_stop {
            animation: none;
        }
    }

    &__pic_1 {
        background: no-repeat center url('./1.jpg');
        background-size: cover;
    }
    &__pic_2 {
        background: no-repeat center url('./2.jpg');
        background-size: cover;
    }
    &__pic_3 {
        background: no-repeat center url('./3.jpg');
        background-size: cover;
    } 
    &__pic_4 {
        background: no-repeat center url('./4.jpg');
        background-size: cover;
    }      
}


@keyframes shift-next {
    from { 
        left: 100%;
        filter: blur(100px);
    }
    to { 
        left: 0;
    }
}

@keyframes shift-prev {
    from { 
        left: 0;
    }
    to { 
        left: -100%;
        filter: blur(100px);
    }
}

@keyframes shift-next-2 {
    from { 
        left: -100%;
        filter: blur(100px);
    }
    to { 
        left: 0;
    }
}

@keyframes shift-prev-2 {
    from { 
        left: 0;
    }
    to { 
        left: 100%;
        filter: blur(100px);
    }
}