extends layout

include components/bg-switcher/bg-switcher.pug
include components/control-btns/control-btns.pug
include components/units-space/units-space.pug
include components/pop-up-context/pop-up-context.pug
include components/event-switcher/event-switcher.pug

block variables
  - var title = 'ars котельная'
  - var descr = 'artist run space в томске'

block content
    +b.H1.title ars котельная
    +b.P.test экспериментальная разработка
    +b.event-info
      +e.description
      +e.pdf-link
      +e.event-link
      +e.date
    +b.window-box
      +b.proportion-box
        +bg-switcher
        +units-space
        +event-switcher
        +pop-up-context
        +control-btns