extends layout

include components/bg-switcher/bg-switcher.pug
include components/control-btns/control-btns.pug

block variables
  - var title = 'ars котельная'
  - var descr = 'artist run space в томске'

block content
    +b.H1.title ars котельная
    +b.p.test экспериментальная разработка
    +bg-switcher
    +control-btns