include bemto/bemto.pug

block variables

doctype html
html(lang='ru')
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="description", content=descr)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body.page(class=page)
    block content